
@{
    ViewData["Title"] = "Index";
}
@model UserViewModelForList




<div class="row">
  
    <div class="col-md-6 offset-md-3">
        <h3> Kullanıcı Bilgileri</h3>
        <hr />
    <table class="table  table-striped">

    <thead >
        <tr>
            <th>
            Kullanıcı Adı
        </th>
        <th>
            Email
        </th>
        <th>
            Telefon No
        </th>
        </tr>
    </thead>

    <tbody>
           <tr>
                <td>
                @Model.Username
            </td>
            <td>
                @Model.Email
            </td>
             <td>
            @Model.PhoneNumber
             </td>
           </tr>
    </tbody>
</table>


</div>
</div>