@model List<RoleListViewModel>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

<div class="flex justify-content-between">
    <div class="d-inline">
        <h2 class="d-inline">
            Roller
        </h2>
    </div>
    <div class="d-inline mx-4">
        <a asp-action="RolCreate" asp-controller="Roles" asp-area="Admin" class="btn btn-outline-secondary">Rol Ekle</a>
    </div>
</div>




<table class="table table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Rol ismi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="RoleUpdate" asp-controller="Roles" asp-area="admin" asp-route-id=@item.Id class="btn btn-outline-dark"> Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>