@using AspNetCoreIdentity.Web.Areas.Admin.Models
@model RoleCreateViewModel

@{
    ViewData["Title"] = "RolCreate";
}

<h2>Rol Oluşturma</h2>
<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">

        <div >
    <div >

                <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
                </div>

        <form asp-action="RolCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
  
            <div class="form-group my-3">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>
        </div>
        </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
